

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    
}

.lista-filmes{
    margin: 20px;

}

.lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    margin: 15px;
    padding: 15px;
    
}

.lista-filmes strong{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px ;
}

.lista-filmes img{
    width: 900px;
    max-height: 350px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lista-filmes a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: deepskyblue;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}